<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AL KAMIL RENOVATION</title>
    <!-- Bootstrap CSS link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <link rel="stylesheet" href="stylesheets\style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header data-bs-theme="dark">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img
              src="images/logo3.png"
              alt="AL KAMAL"
              width="80"
              height="70"
              style="margin: 0; padding: 0"
            />
          </a>
          <h2 class="navbar-brand">AL KAMIL RENOVATION SERVICES</h2>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="painting"
                  >Painter</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="electrician"
                  >Electrician</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="plumber"
                  >Plumber</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="acservice"
                  >Ac Services</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <h1 class="subpageheadings">AC CLEANING SERVICES</h1>

      <div class="container marketing">
        <div class="row featurette">
          <div class="col-lg-12">
            <div class="innertext">
              <p>
                Our AC cleaning service is available to ensure your air
                conditioning system operates efficiently and effectively.
              </p>
              <h3>Why Choose Us?</h3>
              <ul>
                <li>
                  <strong>Thorough Cleaning:</strong> Our technicians provide
                  thorough cleaning of your AC unit, including the evaporator
                  coils, condenser coils, filters, and vents, to remove dust,
                  dirt, and debris that can affect performance.
                </li>
                <img
                  class="innerimgs bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                  src="/images/accleaning1.jpg"
                  alt="AC Cleaning Image"
                  width="500"
                  height="150"
                  aria-hidden="true"
                />
                <li>
                  <strong>Improved Air Quality:</strong> By removing
                  contaminants from your AC system, we help improve indoor air
                  quality, reducing allergens and pollutants for a healthier
                  living environment.
                </li>
                <img
                  class="innerimgs bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                  src="/images/accleaning2.jpg"
                  alt="Improved Air Quality Image"
                  width="500"
                  height="150"
                  aria-hidden="true"
                />
                <li>
                  <strong>Enhanced Efficiency:</strong> Clean AC components
                  operate more efficiently, reducing energy consumption and
                  lowering utility bills while ensuring optimal cooling
                  performance.
                </li>
                <img
                  class="innerimgs bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                  src="/images/accleaning3.jpg"
                  alt="Enhanced Efficiency Image"
                  width="500"
                  height="150"
                  aria-hidden="true"
                />
                <li>
                  <strong>Preventative Maintenance:</strong> Regular AC cleaning
                  helps prevent costly breakdowns and extends the lifespan of
                  your air conditioning system, saving you money on repairs and
                  replacements.
                </li>
                <img
                  class="innerimgs bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                  src="/images/accleaning4.jpg"
                  alt="Preventative Maintenance Image"
                  width="500"
                  height="150"
                  aria-hidden="true"
                />
              </ul>
            </div>
          </div>
        </div>
      </div>

      <hr class="container-fluid border-warning border-3 opacity-75" />

      <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>
          © 2017–2024 AL KAMIL RENOVATION, Inc.
          <a
            class="whats-app"
            href="https://api.whatsapp.com/send?phone=923226435314"
            target="_blank"
          >
            <i class="fab fa-whatsapp"></i>
          </a>
        </p>
      </footer>
    </main>
    <script
      src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
