<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Bootstrap Example</title>
    <!-- Bootstrap CSS link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="stylesheets\style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header data-bs-theme="dark">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="images/logo3.png" alt="AL KAMAL" width="80" height="70" style="margin: 0; padding: 0;">
                
            </a>
            <h2 class="navbar-brand">AL KAMIL RENOVATION SERVICES</h2>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                  <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="painting">Painter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="electrician">Electrician</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="plumber">Plumber</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="acservice">Ac Services</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
    
    </header>

    <main>
      <h1 class="subpageheadings">INTERIOR</h1>
      <div class="container marketing">
        <div class="row featurette">
          <div class="col-lg-12">
            <h2 class="featurette-heading fw-normal lh-1">
              <B>APARTMENTS</B>
            </h2>
            <div class="innertext">
              <p>
                Are you tired of looking at dull, worn-out walls in your
                apartment? At AL KAMIL RENOVATION SERVICES, we specialize in
                interior painting solutions to refresh and revitalize your
                living space.
              </p>
              <h3>Common Issues We Address:</h3>
              <ul>
                <li>
                  <strong>Crayon Marks:</strong> Kids will be kids, and sometimes that means drawing on walls. If your walls are adorned with crayon lines and doodles, we can help you say goodbye to these unsightly marks. Our professional painters will meticulously remove the crayon marks and repaint the walls to perfection.
                </li>
                <img
                class="innerimgs bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                src="/images/cryonpic.jpg"
                alt="Placeholder: 500x500"
                width="500"
                height="150"
                aria-hidden="true"
              />

                <li>
                  <strong>Furniture Scuffs:</strong> Over time, furniture placement can result in scuff marks and scratches on your walls, detracting from the overall appearance of your home. Our team can expertly repair and touch up these areas, restoring the walls to their original condition and ensuring a seamless finish that complements your furniture.
                </li>
                <img
                class="innerimgs bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                src="/images/furniture.jpg"
                alt="Placeholder: 500x500"
                width="500"
                height="150"
                aria-hidden="true"
              />
                <li>
                  <strong>Moving to a New Apartment:</strong> Are you moving to a new apartment and want to personalize the space with a fresh coat of paint? Our painters can help you choose the perfect colors and finishes to suit your style and preferences. We'll work efficiently to transform your new apartment into a welcoming and inviting home that reflects your unique taste.
                </li>
                <img
                class="innerimgs bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                src="/images/shifting.jpg"
                alt="Placeholder: 500x500"
                width="500"
                height="150"
                aria-hidden="true"
              />
              </ul>
              <p>
                Don't let worn-out walls dampen your apartment's appeal. Trust
                the experts at AL KAMIL RENOVATION Services to transform your
                interior with our top-quality painting solutions.
              </p>
            </div>
          </div>
          
        </div>
        <hr class="container border-warning border-3 opacity-75" />


        <div class="row featurette">
          <div class="col-lg-12 ">
            <h2 class="featurette-heading fw-normal lh-1">
              <B>VILLAS PAINTING</B>
            </h2>
            <div class="innertext">
              <p>
                Is your villa in need of a fresh coat of paint to restore its
                beauty and charm? At AL KAMIL RENOVATION SERVICES, we specialize
                in interior painting solutions designed to enhance the aesthetic
                appeal of your villa. Whether you're dealing with moldy walls or
                unsightly marks from wear and tear, we have the expertise to
                transform your interior spaces.
              </p>
              <h3>Common Issues We Address:</h3>
              <ul>
                <li>
                  <strong>Mold on Walls:</strong> Mold growth can be a common
                  issue in villa interiors, especially in areas with high
                  humidity. Our team of professionals can effectively remove
                  mold and mildew, ensuring your walls are clean and healthy.
                </li>
                <img
                class="innerimgs bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                src="/images/mold.jpg"
                alt="Placeholder: 500x500"
                width="500"
                height="150"
                aria-hidden="true"
              />
                
                <li>
                  <strong>Wall Imperfections:</strong> Over time, walls in
                  villas can develop imperfections such as cracks, dents, or
                  peeling paint. Our skilled painters will meticulously repair
                  these flaws and apply a fresh coat of paint to restore the
                  beauty of your interior walls.
                </li>
                <img
                class="innerimgs bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                src="/images/imperfect.jpg"
                alt="Placeholder: 500x500"
                width="500"
                height="150"
                aria-hidden="true"
              />
              </ul>
              <p>
                Elevate the beauty of your villa with our top-quality interior
                painting services. From prep work to the final brushstroke, we
                pay attention to every detail to ensure your satisfaction.
              </p>
            </div>
          </div>
          
         
        </div>
        <hr class="container border-warning border-3 opacity-75" />
 

        <div class="row featurette">
          <div class="col-lg-12">
            <h2 class="featurette-heading fw-normal lh-1">
              <b>DOOR PAINTING</b>
            </h2>
            <div class="innertext">
              <p>
                Are your doors looking dull and worn-out, diminishing the
                overall appearance of your home? At AL KAMIL RENOVATION
                SERVICES, we specialize in door painting solutions to revitalize
                and enhance the beauty of your doors.
              </p>
              <h3>Key Benefits of Door Painting :</h3>
              <ul>
                <li>
                  <strong>Protection and Durability:</strong> Our high-quality
                  paints provide excellent protection against the elements,
                  helping to prolong the life of your doors and prevent damage
                  from UV rays, moisture, and wear.
                </li>
                <img
                class="innerimgs bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                src="/images/doorprotection.jpg"
                alt="Placeholder: 500x500"
                width="500"
                height="150"
                aria-hidden="true"
              />
                <li>
                  <strong>Customized Colors and Finishes:</strong> Choose from a
                  wide range of colors and finishes to match your personal style
                  and complement the overall design of your home.
                </li>
                <img
                class="innerimgs bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                src="/images/custom.jpg"
                alt="Placeholder: 500x500"
                width="500"
                height="150"
                aria-hidden="true"
              />
              </ul>
              <p>
                Transform the look of your home with our door painting services.
                Trust the professionals at AL KAMIL RENOVATION SERVICES to
                breathe new life into your doors and elevate the overall
                appearance of your home.
              </p>
            </div>
          </div>
          
        </div>
      </div>
      <hr class="container border-warning border-3 opacity-75" />

      <h1 class="subpageheadings">EXTERIOR</h1>
      <div class="container marketing">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
              
            </h2>
            <div class="innertext">
              <p>Enhance the curb appeal of your apartment building with our exterior painting services. We can address common issues and provide solutions to keep your property looking its best.</p>
              <h3>Common Issues We Address:</h3>
    <ul>
      <li>
        <strong>Weather Damage:</strong> Is your building's exterior paint peeling or fading due to exposure to harsh weather conditions? Our experts can refresh and protect your property by applying durable exterior paint that withstands the elements.
      </li>
      <li>
        <strong>Cracks and Flakes:</strong> Do you notice cracks or flakes on your building's exterior surfaces? We'll repair and prepare the surfaces properly before applying a fresh coat of paint, ensuring long-lasting results and improved durability.
      </li>
    </ul>
    <P>Transform the appearance of your home's exterior with our professional door painting services. Let the experts at AL KAMIL RENOVATION SERVICES revitalize your doors, enhancing the curb appeal and adding a fresh, welcoming touch to your property.</P>
            </div>
          </div>
          <div class="col-md-5">
            <img
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
              src="/images/exteriorpaint.jpg"
              alt="Placeholder: 500x500"
              width="500"
              height="500"
              aria-hidden="true"
            />
          </div>
        </div>
        <hr class="container-fluid border-warning border-3 opacity-75" />



      <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>
          © 2017–2024 AL KAMIL RENOVATION, Inc. 
          <a class="whats-app" href="https://api.whatsapp.com/send?phone=923226435314" target="_blank">
            <i class="fab fa-whatsapp"></i>
        </a>
        </p>
      </footer>
    </main>
    <script
      src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
